[2014-05-18 07:49] mojavelinux opened #2 "Invitation to join the Asciidoctor organization"
On behalf of the Asciidoctor community, I'd like to invite the AsciiDoc preview for Brackets into the Asciidoctor organization on GitHub. You will still remain the owner and administrator of the repository. You'll just get the added benefit of being an official Asciidoctor repository.

Reply to let me know if you are interested and I'll get you setup for the transfer.

To be consistent with the At

[2014-05-18 12:26] #2 closed, assigned to nobody

[2014-05-19 15:40] nerk opened #4 "Run HTML conversion in web worker thread"
Investigate if HTML conversion can be performed in web worker thread to avoid blocking of editor UI events during conversion.

[2014-05-19 15:45] nerk opened #5 "Manual conversion mode"
Provide an option to switch off automatic conversion and let the user explicitly trigger conversion by pressing a button or keystroke. This is useful for large documents where conversion is slow.

[2014-05-19 15:53] nerk opened #6 "AsciiDoc mode for Brackets/CodeMirror"
Investigate if this

https://atom.io/packages/language-asciidoc
https://github.com/espadrine/ace2cm

can be used to create an AsciiDoc mode for Brackets/CodeMirror. This will more likely become a separate project.

[2014-05-19 16:01] nerk opened #7 "Create document outline view"
Create and display an outline of the document rather than using the TOC option. A table of contents belongs to the formatted document and its purpose is different from an outline view, which is only for navigation within the preview window.

[2014-05-22 20:23] #4 closed, assigned to nerk

[2014-05-24 16:58] #6 closed, assigned to nobody

[2014-05-24 17:23] nerk opened #8 "Review highlighting mode"
Check highlighting mode regarding compliance with rules from Asciidoctor source.

[2014-05-26 17:40] leif81 opened #9 "Use asciidoctor-default.css theme"
I've grown quite comfortable seeing the default Asciidoctor HTML theme -- the one that's also used by the asciidoctor-chrome-extension. It would be really nice if the Brackets AsciiDoc preview used this theme by default or gave it as an option.

https://github.com/asciidoctor/asciidoctor/blob/master/data/stylesheets/asciidoctor-default.css

[2014-05-29 19:40] #9 closed, assigned to nobody

[2014-05-30 15:29] nerk opened #10 "Support vertical preview panel right to content pane"
Vertical preview panel right to the content pane uses available screen space much better.

[2014-08-02 16:58] nerk opened #12 "Bootstrap-based styles not working with Asciidoctor 1.5.0"
Size of FontAwesome icons for Bootstrap-based Cerulean- and Slate-Styles are too small with Asciidoctor 1.5.0. Fix or maybe remove.

[2014-08-03 14:07] #12 closed, assigned to nobody

[2014-08-23 19:28] mojavelinux opened #13 "Manage Asciidoctor.js dependency using Bower or npm"
Is it possible to manage the dependency on Asciidoctor.js using Bower or npm? This should make it easier to upgrade and avoid having to put the script directly in the repository.

http://asciidoctor.org/news/2014/08/23/asciidoctor-js-1-5-0-released/

[2014-09-09 04:56] kurtharriger opened #14 "Print/Export/Open in new browser window"
If I right click on preview the Print option is disabled. There is a view source link but it doesn't seem to do anything.

I'm looking for an easy way to edit and preview documents containing typeset math. I've found editing html with mathjax seem to work really well.  I typically use the browser to print to pdf and add a few page break tags and some print media queries where I need them.

I'm not

[2014-09-27 17:37] #13 closed, assigned to nobody

[2014-10-02 20:07] #5 closed, assigned to nobody

[2014-10-05 17:32] #14 closed, assigned to nobody

[2014-10-07 21:17] Erik-P opened #15 "Relative file path includes an extra /"
When including a file that is in a neighboring directory, an extra step down in the tree needs to be taken.

For example, to include file.asciidoc in index.asciidoc:
D:/path/manual/index.asciidoc
D:/path/common/file.asciidoc

the include needs to look like this:
include::../../file.asciidoc

But for the file to be included when processed, the path must look like this:
include::../file.asciidoc
whi

[2014-10-08 18:01] #15 closed, assigned to nobody

[2014-10-09 12:28] c14s opened #16 "html export: invalid css url"
The html export contains an invalid url to the css file,
e.g. href="C:/Users/.../AppData/Roaming/Brackets/extensions/user/nerk.asciidoc-preview/themes/asciidoctor-compact.css"

Please add file:// to the url.
Otherwise Firefox is not able to load the css.

[2014-10-09 12:39] c14s opened #17 "configuration for images folder"
Images are not found in preview (and html export),
if a root document contains included files in sub-folders,
and the path to images is relative to the root document.

Is it possible to configure a global images directory?

[2014-10-09 18:04] #16 closed, assigned to nerk

[2014-10-12 19:31] #17 closed, assigned to nerk

[2014-11-08 17:57] lite2073 opened #18 "Preview asciidoctor diagrams"
It would be very nice to be able to preview asciidoctor diagrams as you type. That's the only missing piece that I'd love to see added.

[2014-11-25 22:07] domgold opened #19 "Support code folding"
It would be nice to be able to collapse blocks, chapters, etc., similar to what [this extension](https://github.com/thehogfather/brackets-code-folding) does.

[2015-01-01 05:20] AmeliaBR opened #20 "HTML/XML code snippets are being modified"
I'm not sure whether it is a general Asciidoctor issue, or a Brackets preview issue, but code snippets in the text relating to stylesheets are being mistaken for actual XML/HTML instructions and modified.

________________

The following Asciidoc source code:

[code]

Is compiled as:

[code]

Note the inserted `title` attributes.

[2015-01-01 06:40] mojavelinux commented on #20
I strongly doubt this is Asciidoctor as it doesn't modify the content of source blocks. However, it could be the source highlighter doing it. Is the source highlighted in the preview? If so, it could be highlight.js that's doing it. Otherwise, it could be that Brackets is modifying the source somehow.

[2015-01-01 14:32] nerk commented on #20
When exporting the file to a browser from the preview pane, the generated HTML is correct and no additional title attribute is added. @mojaveIinux I also thought that highlight.js might be responsible for that, because in the exported file, highlight.js is not used for source highlighting by default.

However, I modified the code in such a way that in both cases (preview pane and exported file), t

[2015-01-01 16:45] nerk commented on #20
@AmeliaBR @mojavelinux
Never mind, I found the problem in my code!

[2015-01-01 17:18] #20 closed

[2015-01-01 18:39] AmeliaBR commented on #20
@nerk Great, thanks.

One of those little bugs that will sneak by most testing, until someone has just the wrong content to trigger the regular expression.

If you still want to have automatic tooltips for links (which is a neat feature), maybe the best solution would be to append a short script to the end of the generated HTML document.  The following should do it:

[code]

[2015-01-01 19:26] mojavelinux commented on #20
Great news!

has just the wrong content to trigger the regular expression.

That's why the open source model is so important and why community members
like you, willing to take the time to report issues & track down a
solution, are so important to us. Thanks!!!

[2015-01-01 19:50] nerk commented on #20
@AmeliaBR Thanks for the code snippet!

[2015-01-01 23:45] mojavelinux commented on #20
Actually, I think the best way to enable the tooltips in such a way that doesn't affect code snippets is to search for links that don't have `<pre>` (or `<code>`) as a parent. The part of the code that grabs links without a title is good, but then I'd go a step further and check that `<pre>` or `<code>` isn't a parent node. If there's a way to do this with the initial query, even better.

[2015-01-02 01:07] AmeliaBR commented on #20
@mojavelinux

That won't be required, because the script will run *after* code snippets have been escaped into `&lt;a&gt;` and so on.  There is no actual "link" there for querySelectorAll to select -- just a series of characters that look like code to us human beings.

[2015-01-02 01:35] mojavelinux commented on #20
Very good point, @AmeliaBR.

[2015-01-30 17:35] normanlorrain opened #22 "SecurityError: Jail is not an absolute path"
Might be missing something simple but I'm seeing this on Windows 7, current version of Brackets.

Asciidoctor plugin in showing this error:

(I've tried changing the path but nothing works)

[2015-01-30 22:14] nerk commented on #22
Would you mind giving a little bit more information?

Does this mean the plugin is installed correctly (you can open the preview pane), but this message appears in the plugin's console?  Does this happen only with a particular document? What path did you change?

There should not be a problem with Windows 7 in general. However, one coworker had some strange problem on his machine because of the pa

[2015-01-30 22:34] nerk commented on #22
Could you please try to change the 'Safe mode' in the settings dialog from 'Safe' to 'Unsafe' and check if this makes a difference?

[2015-01-30 22:46] normanlorrain commented on #22
Thanks for the quick reply.

The plugin seems installed correctly, The error shows up in the preview window:

![image](https://cloud.githubusercontent.com/assets/7077277/5984605/f6fc48d2-a894-11e4-9385-4a7219938634.png)

I reset the Basedir and Images dir to the defaults.

NOTE:  I can get it to work if I choose the `Safe mode: Secure` setting. Not sure what that refers to.  It's possible I have a

[2015-01-30 23:44] nerk commented on #22
I assume it must have something to do with the paths of images or other assets you access or include from your document. If you are referring to images outside the root path of the document from which they are being referred, you might run into problems. Same is true for setting Imagesdir or Basedir in the settings dialog.

The 'Safe mode' controls to what extend referring to things outside of the

[2015-01-31 22:06] hwinkel commented on #19
:+1:

[2015-02-04 18:15] nerk commented on #10
As of 1.1.3, it is now possible to detach the preview pane from the editor into a separate window. This is  extremely useful with a second monitor. Implementing a vertical panel next to the editor pane is still not officially supported and will definitely cause conflicts with other extensions trying to do the same.

[2015-02-04 21:27] mojavelinux commented on #10
Cool!

[2015-02-11 09:24] nerk commented on #22
By coincidence, I had the same problem with a document of mine and figured it out. The problem is the
[code]
attribute. Asciidoctor.js cannot handle that properly - no surprise. The brackets preview is going to disable that attribute in the next version. For now, you may want to unset it or use

[code]

[2015-02-11 09:42] nerk commented on #22
Of course, I meant

[code]

[2015-02-11 17:33] #22 closed

[2015-02-12 00:39] mojavelinux commented on #22
Correct, JavaScript cannot reliably access the file system to read binary image data right now, so it's best to ensure this is disabled for now. We can track improvements to data-uri support in Asciidoctor.js directly. There may be ways, but they need to be in place in that code first.

[2015-02-21 18:57] #18 closed

[2015-03-30 08:28] gembin opened #23 "How to export to PDF"
Anyway to export a adoc to PDF ?

[2015-03-30 09:07] nerk commented on #23
Use the export button (box with curved arrow) to display the document in a browser. From there, you can print or save as PDF. Direkt generation of PDF is a bit out of scope for the previewer.

[2015-03-30 09:07] #23 closed

[2015-03-30 09:10] nerk commented on #23
However, if you really want to create a full-featured PDF the official asciidoctor toolchain should be used instead.

[2015-03-30 15:21] gembin commented on #23
Ok, got it.  thanks nerk!

[2015-07-06 21:19] stallio opened #24 "Sync from preview pane to edit pane, instead of vice versa?"
Currently there are features that allow you to sync the preview pane with the part of the document you are currently editing.

It would be great if there were a similar feature that would sync the editing pane with the currently-viewed section of the preview pane. This would be handy for reviewing documents -- for example if you spot a mistake in the preview pane then you could easily jump to that

[2015-07-13 21:30] #24 closed

[2015-07-13 21:56] nerk commented on #24
This feature is now implemented. You may click into the preview pane while holding down the CTRL key.

[2015-07-13 22:39] mojavelinux commented on #24
Wow! So cool!

[2015-07-18 21:04] jamroks opened #25 "Publish asciidoc mode for codemirror"
Hi ,

First i wanna thank you for this useful mode, i'll be using it in ghost,  i was wandering if you could publish it as an npm module. As i've been informed it has been also successfully used in hubpress.io ( an application to build a blog on github ). So making it available in npm or bower etc... could be useful to more people.

It would be great to have it referenced also in the codemirror we

[2015-07-19 15:22] nerk commented on #25
Agreed, this is useful for other people as well. However, this mode is the great work of Thadee Tyl from this https://github.com/espadrine/ace2cm project.

Would you mind asking the original author about publishing? I already mentioned his name at the bottom of the README, but  will also add a link to his project.

[2015-07-20 07:31] mojavelinux commented on #25
@nerk, as I understand it, you used his tool (ace2cm/convert.js) to transform the Ace mode into a CodeMirror mode, correct? If that's the case, then I think we have full rights to the output. The license of Ace is BSD. In the header of the generated file, we should of course credit Ace as the origin of the mode and Thadee for creating the converter.

Ideally, we should try to get AsciiDoc support

[2015-07-20 08:39] nerk commented on #25
@mojavelinux @espadrine Yes, I used this tool to generate the file and manually changed/fixed two or three things, like adding asciidoctor specific support for an additional header level.

Getting this into CodeMirror would be the preferred way to go, I agree. I'll take care of the pull request.

[2015-07-20 10:01] espadrine commented on #25
Here is what @marijnh told me when I offered to contribute it to CodeMirror: https://twitter.com/marijnjh/status/465903643095752704.

If there is a way out, I believe it would require a change in the converter. It currently includes code from Ace for compatibility reasons (rewriting the code from scratch so that it keeps the same behaviour, quirks included, is hard).

At any rate, it would help if

[2015-07-20 10:55] nerk commented on #25
That even sounds as if I would need to change the license of the Brackets plugin to BSD if I want this file being part of it... :-(

[2015-07-24 07:30] mojavelinux commented on #25
There's a persistent misunderstanding (aka fear) about licenses that may never be eradicated. It's perfectly fine to include the source code from another project that is BSD into your MIT-licensed project, so long as you mark the original code with the original license (i.e., meet the requirements). You just can't change the BSD license on that file without the author's permission. That file will

[2015-07-24 07:33] mojavelinux commented on #25
It seems to me like the author of CodeMirror doesn't want to include a mode that came from Ace. That gives us reason to create our own repository. Eventually, when we rewrite the CodeMirror mode from scratch (as we will probably do eventually to get more accuracy), then we can contribute it to CodeMirror as original work. Given that I've written a parser for AsciiDoc, I'm pretty sure I can manage

[2015-07-24 09:07] nightwing commented on #25
@espadrine you can contact support@c9.io.
I think sharing language modes between Ace and CodeMirror would benefit both editors.

Codemirrors [simplemode](http://codemirror.net/demo/simplemode.html) seems to be compatible with ace modes.

[2015-07-24 10:17] nerk commented on #25
@mojavelinux What you are saying regarding BSD licensing makes perfect sense. If it would be any different, why would it be allowed to integrate BSD licensed stuff into proprietary commercial applications? I will just mention the appropriate  BSD license in the README.

Having a nice, more accurate mode we can share and contribute to CodeMirror would be great. We just need to find somebody to do i

[2015-07-26 07:33] mojavelinux commented on #25
The fact that the code for our project is always available means that we satisfy the basic requirements of most open source licenses, in this case BSD. (We provide copyright and license information). If someone were using this project in a proprietary license, it is they who would have to deal with the requirements of files that have a different license from the project.

Having said that, both MI

[2015-07-26 07:36] mojavelinux commented on #25
I tend to agree that the best person to work on these matchers is someone who is working on the parser. At the moment, that puts me in the hot seat, but I am working to get more people deeply familiar with the grammar rules so that we have more help.

[2015-07-26 07:38] mojavelinux commented on #25
It seems to me the next step is to setup our own repo for the CodeMirror mode so that, at the very least, we can share the files within our own ecosystem of projects. Once the code is there, we can continue to pursue getting it accepted upstream as a longer-term goal (perhaps because we decide to rewrite it...or perhaps we find another path).

@nerk @anthonny @espadrine Sound like a good plan?

[2015-07-26 07:39] mojavelinux commented on #25
We can also track changes to it, file issues, all that good open source stuff.

[2015-07-26 09:10] nerk commented on #25
@mojavelinux Sounds good to me. Does it even make sense  to set up one single common project (or organization?) for the mode stuff of all relevant environments like IntelliJ, Eclipse, Netbeans, Ace, CodeMirror, Sublime, etc. ? Such a project would have to deal with different languages and build environments, though.

[2015-07-26 22:02] mojavelinux commented on #25
I've found that when working on GitHub, discrete repositories always works out better. The issue tracker isn't sophisticated enough to deal with multiple components.

[2015-07-27 17:19] nerk commented on #7
Implemented pullout outline panel in 1.1.6

[2015-07-27 17:19] #7 closed

[2015-07-27 17:57] mojavelinux commented on #7
+1

[2015-08-28 18:55] wfouche opened #26 "HTML output, expand asciidoctor.css inline."
Currently, when exporting an Asciidoc document to HTML from within Brackets, the asciidoctor.css file is referenced using an absolute local path (which would differ from machine to machine). For example, on my laptop the asciidoctor.css file lives here:

[code]

This prevents me from emailing the HTML file to others to read as all the formatting is lost due to the style sheet being unavailable.

T

[2015-08-29 11:57] Mogztter opened #27 "Bold and italic syntax are not highlighted"
This is strange because the code is present: https://github.com/asciidoctor/brackets-asciidoc-preview/blob/master/mode/asciidoc.js#L144

Maybe this is related to my theme ?

![syntax-high-bold-italic](https://cloud.githubusercontent.com/assets/333276/9561804/78695c82-4e55-11e5-8a55-ea0899c9613e.png)

[2015-08-29 11:59] Mogztter opened #28 "Title of link should be highlighted"
![syntax-high-bold-italic](https://cloud.githubusercontent.com/assets/333276/9561804/78695c82-4e55-11e5-8a55-ea0899c9613e.png)

I think title of a link should be highlighted because in my opinion the title is as important as the URL. Also for consistency automatic link should also be highlighted.

[2015-08-29 17:03] nerk commented on #26
In Asciidoctor (Ruby), linking versus embedding of style sheets is controlled by the 'linkcss' attribute. By default , the 'linkcss' attribute is not set and the style sheet is embedded,

However, the preview extension uses Asciidoctor.js for rendering. From my experience, Asciidoctor.js has some problems to directly read files from the local file system. Depending on the 'Safe Mode' defined in th

[2015-08-29 17:34] nerk commented on #26
Asciidoctor.js open issues related to this:

https://github.com/asciidoctor/asciidoctor.js/issues/116
https://github.com/asciidoctor/asciidoctor/pull/1354

[2015-08-30 14:46] #27 closed

[2015-08-30 16:17] Mogztter commented on #27
Thanks @nerk for the quick fix!

[2015-08-30 20:59] nerk commented on #28
This seems to be a problem with your current theme. 'Solarized' or 'Twilight', for example, are working for me. From the other themes I tried, some work, some don't. In general, the dark and more colorful themes seem to map more style variables than others.

'Brackets Light' and 'Brackets Dark' are not working, unfortunately. I might change the appropriate style variables to some variables which a

[2015-08-31 16:43] stallio opened #29 "Section numbering and listing numbering"
I can't figure out how to turn on section numbering in the preview window. Neither `:sectnums:` nor `:numbered:` seem to work. (If I then save the HTML output and view in a browser, section numbers are visible there, just not in the preview window.)

Also I want to number listings, and the only way I've figured out to do it is to set `:listing-caption:` which seems like a weird way to do it. This

[2015-08-31 17:18] nerk commented on #29
Numbering is overridden by the preview's settings dialog for convenience reasons. Click the gear symbol and select the 'View' tab. From there you can check the corresponding check box.

Regarding listings:

The highlighter used by the preview is highlight.js. Unfortunately, it does not provide an option for line numbering. You could try setting

:source-highlighter: prettify

in your document, but

[2015-08-31 17:18] #29 closed

[2015-09-03 18:38] Mogztter commented on #28
Good question... how can we know which token type are mapped for a theme ?
Maybe we could use a more restrictive subset of token types when we don't know the theme and use a richer subset of token types when the theme is `Solarized`, `Twilight`... ?

But I think the highlight should work with the default theme (at least for very common markups like bold, italic or lists)

[2015-09-03 18:41] Mogztter commented on #28
https://github.com/adobe/brackets/issues/2842#issue-10869951

I can see that we're using `variable-2` for list, numbered, unnumbered, is there any other token available ?

[2015-09-03 19:51] stallio opened #30 "Code listing CSS bug in some themes when source type is unrecognized"
The cerulean and slate themes have a bunch of CSS like this:

[code]

But if I set my source to a value other than the ones that are listed, like so:

[code]

Then when I hover my mouse over the listing in the preview window, it inserts the name of the language it thinks I'm using in front of the code. In this screenshot it thinks I'm using Ruby:

![screenshot 1182](https://cloud.githubusercontent

[2015-09-07 22:34] nerk commented on #28
``variable-2`` is also used for the link title. I think we should just change that so that it works well for the default themes. However, I do not see an easy way to display the square brackets in the same color as the link and only hightlight the title separately. I suggest to simply display the whole link including square brackets and title in the same color.

As for the lists, we can just choos

[2015-09-08 16:01] Mogztter commented on #28
Sounds good to me :+1:

[2015-09-10 20:20] #28 closed

[2015-09-10 20:33] nerk commented on #30
I tried this with Cerulean, Slate, and Github themes and your example listing. Works for me. Could you please give more details regarding exact versions of Brackets and this plugin you are using?

[2015-09-10 20:53] stallio commented on #30
Sorry, I truncated the code for the sake of posting it here, but the bug doesn't happen with the abbreviated code.  Here's the full code:

[code]

I'm using
Brackets Release 1.4 build 1.4.0-16380 (release 273804eb3)
asciidoc-preview 1.1.6

[2015-09-10 22:42] #30 closed

[2015-09-12 10:32] wfouche commented on #26
In the meantime, I've also updated the Python script to Base64 encode images to make the HTML file truely self-contained.

Thanks for pointing out that AsciidoctorJ has this functionality built-in. I've tried running asciidoctorj from the command-line just now with options "-b html5 -a data-uri" and it generated a self-contained HTML file; Python script not required anymore.

It would still be nic

[2015-09-12 10:37] #26 closed

[2015-09-12 16:00] nerk commented on #26
Glad it's working for you. AsciidoctorJ is, more or less, JRuby (Java implementation of Ruby interpreter) bundled with Ruby Asciidoctor. It's actually better suited to be used within your own Java application for processing Asciidoc, where you start it up once and then process documents repeatedly.

For processing of a document from the CLI, there is some significant overhead regarding initializat

[2015-09-16 12:13] nerk commented on #26
BTW, it is also possible to save the document from your browser as ```.mht``` file. See https://de.wikipedia.org/wiki/MIME_Encapsulation_of_Aggregate_HTML_Documents

This will include everything into a single MHTML file. Chrome and IE can render these files natively, for Firefox you'll need an additional plugin.

This might also be a convenient way to quickly share documents as a single standalone

[2015-09-16 21:13] mojavelinux commented on #26
Cool tip @nerk!

[2015-11-18 20:06] franck-serot opened #31 "support backend slidy"
Hi,
I installed brackets and brackets-asciidoc-preview.
I read the user guide http://www.methods.co.nz/asciidoc/ and I tests theses samples with brackets  :
http://www.methods.co.nz/asciidoc/article-html5-toc2.html
http://www.methods.co.nz/asciidoc/slidy.html#(1)

I have the following error with second because of backend slidy.
RuntimeError: asciidoctor: FAILED: missing converter for backend 'slid

[2015-11-19 08:53] nerk commented on #31
Hi,
Slidy is not supported. Brackets preview uses Asciidoctor.js (the JavaScript version of Asciidoctor) for conversion. With the right backends installed, Asciidoctor supports several slide formats which are much nicer and more powerful than slidy. See https://github.com/asciidoctor/asciidoctor-backends

However, the preview plugin does not install any of these backends. I absolutely agree that i

[2015-11-19 16:01] nerk commented on #10
Closing the issue. Brackets still does not really provide a clean way to implement extensions with a vertical window. Using a detached preview pane should be good enough for now.

[2015-11-19 16:01] #10 closed

[2015-11-21 01:50] mojavelinux commented on #31
Note that Asciidoctor doesn't have a backend for slidy. I don't have any intention of creating one because I think there are better options out there. I recommend using reveal.js or deck.js, though look for bespoke.js in the near future which is truly the best choice in my mind.

[2015-11-23 08:52] franck-serot commented on #31
Hi,
Thank you for your respones and advices.
Theses samples (https://github.com/asciidoctor/asciidoctor-gradle-examples) should help me to use Asciidoctor and backends (html5, pdf, reveal and deck).
Best regards,
Franck

[2015-12-04 16:01] SamyPesse commented on #25
Any news about publishing it as a separate module ?

[2015-12-04 21:44] mojavelinux commented on #25
I think we should go ahead and split it out and let requirements drive how it evolves. We should set the license of that repo to BSD and credit the origin in a NOTICE file (Apache style).

Let's call the repository: asciidoctor/codemirror-asciidoc-mode

@nerk if I setup the repo and give you access, will you import the file?

@SamyPesse why repository layout would work best for you? A reference wi

[2015-12-04 21:49] SamyPesse commented on #25
I think It'd be better to make a Node.js/Browserify package, and publish it on NPM (CodeMirror itself works really well with Browserify and is distributed on NPM).

@mojavelinux `codemirror-markdown-mode` is not a Node.js package (no `package.json`).

So basically:

[code]

with a `package.json` like this:

[code]

[2015-12-04 21:50] mojavelinux commented on #25
Here's the space: https://github.com/asciidoctor/codemirror-asciidoc-mode

[2015-12-04 21:51] mojavelinux commented on #25
+1

I'm familiar with all those tools, so I can definitely help guide us towards that goal.

[2015-12-04 21:54] mojavelinux commented on #25
Let's go ahead and put the source file inside the `lib` directory and name it `asciidoc.js`. That makes it easier to pull out of the repository for those that want to consume it ad-hoc.

[code]

Since we are publishing to npm, the README should use the Markdown syntax where Asciidoctor supports it (headings, etc).

[2015-12-04 21:55] mojavelinux commented on #25
I'll go ahead and setup all the infrastructure files and @nerk can import the asciidoc.js source file. @nerk, go ahead and create an account on npm if you don't have one yet. When you publish the package the first time, it will create it and make you the admin.

[2015-12-04 21:56] mojavelinux commented on #25
Should we just call the repository `codemirror-asciidoc` ? That seems to be how things are named on npm.

[2015-12-04 22:03] SamyPesse commented on #25
Awesome!

@mojavelinux Agree, `codemirror-asciidoc` is better.

BTW, We need this for the next big release of our editor, there will be an awesome new WYSIWYG editor (display of image, links, etc). It currently works very well with Markdown, but there is still work needed on the Asciidoc support.

[2015-12-04 22:09] mojavelinux commented on #25
Awesome!!!

@nerk We'll need to modify the asciidoc.js so that it loads using require. Right now, there is Brackets-specific code in the source file.

[2015-12-04 22:11] mojavelinux commented on #25
Renamed: https://github.com/asciidoctor/codemirror-asciidoc

Basically, the "Usage" section needs to work (it's currently pseudo code), but I've never used CodeMirror so I don't exactly know what that should be.

[2015-12-04 22:13] mojavelinux commented on #25
We need to decide how to fill in the authors section in package.json. I figure that crediting Ace, Thaddee Tyl and Thomas Kern makes the most sense.

[2015-12-04 22:57] SamyPesse commented on #25
@mojavelinux I think the API should look like:

[code]

So that `codemirror` will not have to be a dependency of the module; and the mode will work with any codemirror version.

The module can look like:

[code]

(It'll also use for direct usage in the browser or AMD).

[2015-12-04 23:09] mojavelinux commented on #25
Thanks @SamyPesse! That's super helpful. I'll do some experimenting and tests on my end so I'm ready to review the code.

[2015-12-05 00:02] nerk commented on #25
@SamyPress  Would you like to take ownership of codemirror-asciidoc?

[2015-12-05 00:07] nerk commented on #25
@mojavelinux @SamyPesse Since you are already at it, the easiest would be if you just grab the asciidoc.js and go ahead.

[2015-12-05 00:12] mojavelinux commented on #25
I got a demo working, so I'm able to test that we got the code right.

@nerk I'll import the initial version as you, then update the code to at the CommonJS / AMD wrapper.

[2015-12-05 00:24] mojavelinux commented on #25
I think we are ready to publish a first version to npm. @SamyPesse can you test the package by running `npm pack` then `npm install` to see if it works for your needs. I'll hold off publishing until you validate.

@nerk would you like to publish the mode to npm?

The next step will be to get the ace2cm running as part of the build so that we aren't attempting to modify generated code. I think it w

[2015-12-05 17:40] SamyPesse commented on #25
@mojavelinux It's working perfectly for us :)

[2015-12-05 17:44] nerk commented on #25
@mojavelinux Yes, I can publish it to npmjs.com. Never published anything before to that site, lets see... @SamyPesse I assume your pull request is OK? I'll merge that first.

[2015-12-05 17:49] SamyPesse commented on #25
@nerk Yes, My PR is correct :) (I'm using the module using `require('codemirror-asciidoc');`)

[2015-12-05 17:57] nerk commented on #25
@mojavelinux @SamyPesse It's published.

[2015-12-05 17:57] #25 closed

[2015-12-05 18:04] mojavelinux commented on #25
Excellent!

@nerk can you tag the releases in the git repository? In my experience, this is a manual process in the npm world.

[2015-12-05 18:11] mojavelinux commented on #25
I'll be excited to see this make its way into the brackets plugin as an external module.

[2015-12-05 18:22] nerk commented on #25
@mojavelinux OK, I created a 1.0.1 release on github, if that's what you meant. (I previously published and unpublished 1.0.0 to npmjs for testing purposes, but npmjs still remembers that it had a 1.0.0 version and won't let me replace it. So 1.0.1 is the one and only release on npmjs)

[2015-12-05 18:26] mojavelinux commented on #25
That's perfect!

[2015-12-11 17:41] nerk opened #32 "Use temporary directory for HTML"
When exporting to browser, the generated intermediate HTML is put into the same directory as the Asciidoc source. This should be changed to a temporary directory,

[2015-12-11 17:54] nerk commented on #8
Closing this now that we've got https://github.com/asciidoctor/codemirror-asciidoc

[2015-12-11 17:54] #8 closed

[2015-12-15 17:48] #32 closed

[2016-08-22 15:08] JBR69 opened #33 "Use asciidoctor extensions"
Hi,

How to use personnal asciidoctor extensions in brackets asciidoc preview ?

ty
Jérôme

[2016-08-22 17:23] nerk commented on #33
Right now, you can not easily do that, I think.

If your extension is written in Ruby, one way might be to create your own version of asciidoctorjs
which includes your extension. Have a look at [asciidoctor.js](https://github.com/asciidoctor/asciidoctor.js).

Then replace asciidoctor-all-min.js from the installed Brackets preview extension with you own version.

[2016-08-22 19:16] mojavelinux commented on #33
Like with the Chrome extension, it might be nice to be able to specify addition JavaScript files to load in the configuration. That way, a user can transpile the Ruby-based extension to JavaScript using the Asciidoctor.js build and add it to Brackets. The Brackets plugin need not worry about how to prepare the extension, just how to load it into the runtime.

Btw, there are some pre-compiled exten

[2016-08-22 19:52] nerk commented on #33
@mojavelinux Thanks for the hint, Dan. Certainly a pretty useful feature and not difficult to add. Maybe I'll just provide an extension directory into which a user can simply drop his own extensions.

[2016-08-22 21:38] mojavelinux commented on #33
That's a great idea!

[2016-08-24 08:07] JBR69 commented on #33
I'm glad to see you wear an interest in my request.

I had a little trouble understanding how to regenerate `asciidoctor-all-min.js` with my extension (translated from Ruby to JS) and here's how I did on Windows (this may interest the other person begins like me) :

1- Install `Node.js` (https://nodejs.org/en/download/)

2- Get `asciidoctor.js project` (https://github.com/asciidoctor/asciidoctor.j

[2016-08-24 08:49] JBR69 opened #34 "Enhancement : Ability to use a custom theme"
Hi,

It would be interesting to use its own theme in the previewer (and that it is not removed during an update).
Currently, I added my CSS in the `themes `directory and I modified the file `templates/settings.html` to see it in the listbox ; but in the next update, I had to do the same thing :-(

Jérôme

[2016-08-24 08:54] nerk commented on #33
Cool, glad it worked for you! Extensions directory would be much more painless.

[2016-08-24 08:57] nerk commented on #34
Hmm, maybe a separate directory which is being scanned?

[2016-08-29 14:02] JBR69 commented on #34
or why don't use the attributes `:stylesdir:` and `:stylesheet:` to get the CSS of the document ?

[2016-08-29 23:41] mojavelinux commented on #34
The stylesheet attribute is intended for standalone documents (and has to worry about a lot more than just the inner content of the page). Having said that, it would be interesting to honor an `embeddable-stylesheet` (or similar) attribute.

[2016-09-11 19:58] nerk commented on #34
Custom themes can now be installed (see updated README).

[2016-09-11 19:58] #34 closed

[2016-09-11 19:59] nerk commented on #33
Custom extensions, CSS, and JavaScript files can now be installed (see updated README).

[2016-09-11 19:59] #33 closed

[2016-10-23 15:35] anidotnet commented on #10
Any update on it yet?

[2016-10-23 15:55] nerk commented on #10
Unfortunately, I did not find a good way in Barckets to implement this and therefore gave up on this. However, you can just detach the bottom pane and use the detached window by placing it right or left the of Brackets editor window.

[2016-10-26 14:21] charlottedeclercq opened #35 "support asciidoctor-diagram version 1.5.2"
Hi,

In asciidoctor-diagram version 1.5.2, it is now possible to substitute asciidoc declared variables in the plantuml block.
As shown in below example :

[code]

Is it possible for you to handle this in this bracket extension ?

Thank you,

Charlotte

[2016-10-26 19:51] nerk commented on #35
I'll have to look into that. The problem is that the diagram is actually being sent to a plantuml server for processing, which does not know anything about asciidoctor attributes. It would be necessary to substitute these variables within the Brackets extension before sending the preprocessed block to the Plantuml server. Should not be difficult, though.

[2016-10-26 20:52] mojavelinux commented on #35
Asciidoctor Diagram recently made a similar improvement. Although it follows a different path to generate the diagram, the process is still the same. When reading the content of the block, you need to be sure to apply the attributes as requested. See https://github.com/asciidoctor/asciidoctor-diagram/issues/105.

[2016-10-27 06:36] charlottedeclercq commented on #35
Thank you for your answer.
On my computer I use brackets to edit asciidoc documents that contain plantuml diagrams, and I publish thoses documents on a server on which a job runs regularly to generate the html document, from asciidoc. This job uses the command : asciidoctor -r asciidoctor-diagram ...
So I have the attributes interpreted on the server, but not on my computer in the brackets editor.

[2016-10-27 13:02] #35 closed

[2016-10-27 14:18] charlottedeclercq commented on #35
thank you, I tested it : it works perfectly ! :+1:

[2016-10-27 16:25] nerk commented on #35
Great!

[2017-01-06 09:32] sverremb opened #36 "Using styles located on a network drive"
I've got the following in my .adoc-files to enable the styles found in the template-url:

ifndef::template-url[]
:template-url: \\networkdrive\templates\Asciidoc
include::{template-url}\styles\core-styles.adoc[]
endif::[]

In the preview I get the following error message:
Unresolved directive in <stdin> - include::\\networkdrive\templates\Asciidoc\styles\core-styles.adoc[]

Does brackets asciidoc

[2017-01-06 10:08] nerk commented on #36
Try to use forward slashes, even on Windows.

ifndef::template-url[]
:template-url: \\networkdrive\templates\Asciidoc
include::{template-url}\styles\core-styles.adoc[]
endif::[]

[2017-01-06 10:25] sverremb commented on #36
Thanks for the quick reply!

Unfortunately, it didn't work.  I think I've tried every possible combination of back- and forward-slashes, even tried using the drive letter on the network drive.

[2017-01-06 10:30] nerk commented on #36
You are right, I just tried it myself. It works with Asciidoctor, just not for the preview plugin. I think it might be related to prepending the user definable base directory (from the settings dialog). Could be a bug, I'll have to check.

[2017-01-06 11:54] nerk commented on #36
This is a problem with asciidoctor.js. I created an issue, you can track it here: https://github.com/asciidoctor/asciidoctor.js/issues/273

[2017-02-14 04:45] abradshaw opened #38 "Vertical Split"
Enable the ability t p do a vertical split as well as the default horizontal one

[2017-02-14 08:28] nerk commented on #38
I investigated this a while ago. As far as I know, this is not easily possible with current versions of Brackets. There is no official way for plugins to create a vertical split pane. All existing plugins doing something like this are not really compatible with other plugins trying to do the same.
The best option might be trying to use the split-view mode and use one of the panes as a preview pane

[2017-02-14 08:32] abradshaw commented on #38
Ok, thats a good idea, Thanks

[2017-02-14 08:32] #38 closed

[2017-07-30 17:34] Mogztter opened #40 "Upgrade to Asciidoctor.js 1.5.6"
Could you please try to upgrade to https://github.com/asciidoctor/asciidoctor.js/releases/tag/v1.5.6-preview.3 ?
This is hopefully the latest release version before 1.5.6 final. Please let me know if you find any issue.

Thanks 😊

[2017-07-30 18:01] nerk commented on #40
Yep, that's what I'm currently trying to do (based on your PR for 1.5.4). Basically, rendering is working, include:: also works.

However, the worker thread still produces

[code]
in my preview window console.

Debugging is a bit tricky because of the WebWorker thread and Chrome gives me a bad time setting breakpoints - for whatever reasons. Maybe a problem under Linux, might try this on a Windows

[2017-07-30 19:12] Mogztter commented on #40
Yes the way to go is to write extensions in JavaScript using the new API.

Sorry this error doesn't sound familiar...

No worries 😉

[2017-07-31 20:36] nerk commented on #40
1.5.6-preview.3 seems to work for me, but I need some help creating an image block from my diagram extension. I am trying

[code]

which creates the following error message

[code]

I think this has something to do with passing Opal.nil as the third parameter to createBlock(). Can you tell me how to create an image block with the extension API, without having an actual 'source' parameter?

Creatin

[2017-07-31 22:30] Mogztter commented on #40
To be honest, I've never tried to create an image block in an extension.

Could you try to use the method `$create_image_block` ? https://github.com/asciidoctor/asciidoctor/blob/master/lib/asciidoctor/extensions.rb#L150

Maybe... but you should not use `Opal.nil` with the new API. We are trying to hide this implementation detail.

We think I will add a new function `createImageBlock` in the API an

[2017-08-01 01:33] mojavelinux commented on #40
It's because you have not specified the alt attribute. The alt attribute is required when creating an image node (though we could be nicer about how we enforce it ;))

[2017-08-01 12:28] nerk commented on #40
@mojavelinux Bingo! Must have changed in newer versions of Asciidoctor.

[2017-08-01 16:40] Mogztter commented on #40
Do you want to add this check in the Ruby API ?
In the meantime I can add this check in the JavaScript API on the future
createImageBlock() function.

Le 1 août 2017 2:28 PM, "Thomas Kern" <notifications@github.com> a écrit :

[2017-08-01 18:02] mojavelinux commented on #40
@nerk yes, this was a change in Asciidoctor 1.5.6. We moved when the default alt text was defined so we could apply the substitutions correctly.

I do think this should be checked in the create_image_block method. In fact, it should check for target too, which is also required. Let's pursue that change in core.

[2017-12-07 09:35] charlottedeclercq commented on #40
Hi,

I read the documentation http://asciidoctor.org/docs/user-manual/#customizing-the-cross-reference-text but still can not manage to have the link displayed as Chapter 1 or Section 1.1 instead of France or Paris (in my example).
This is possible since issue 858 has been fixed : https://github.com/asciidoctor/asciidoctor/issues/858.

    :xrefstyle: full
    = Hello
    == France
    === Paris

[2017-12-07 09:58] nerk commented on #40
I assume you are seeing this in the 1.5.6 branch of the plugin?

[2017-12-07 10:00] charlottedeclercq commented on #40
I downloaded the master, please indicate me what I should download :).

[2017-12-07 10:31] charlottedeclercq commented on #40
I downloaded the branch version but I have a white screen when launching the preview.

[2017-12-07 11:14] nerk commented on #40
I did not merge the branch yet, because I wanted to wait for Asciidoctor.js 1.5.6 final. Could you please hit F12 in Brackets and check for errors in the console?

Make sure you do did have any custom extensions in AppData/Roaming/Brackets/extensions/data.nerk.asciidoc-preview  or .config/Brackets/extensions/data.nerk.asciidoc-preview.

Existing extensions are not compatible with Asciidoctor.js 1.

[2017-12-07 11:58] nerk commented on #40
I just tried your example with the 1.5.6 plugin and it's working for me.

[2017-12-07 12:13] charlottedeclercq commented on #40
![image](https://user-images.githubusercontent.com/23074561/33714719-3c7c0352-db50-11e7-99c5-63f3bdef6954.png)

[2017-12-07 13:36] nerk commented on #40
Seems something is wrong with your installation. Did you actually build a zip file (npm install, grunt dist) and installed the zipfile using the Brackets extension manager?

Try the following:

- Download [nerk.asciidoc-preview-1.3.0.zip](https://github.com/asciidoctor/brackets-asciidoc-preview/files/1539221/nerk.asciidoc-preview-1.3.0.zip)
-  close Brackets, delete Brackets-asciidoc-1.5.6 and ner

[2017-12-07 13:50] charlottedeclercq commented on #40
This is working now ! Many thanks.

![image](https://user-images.githubusercontent.com/23074561/33718542-06bcda30-db5e-11e7-9a74-17335af97cf7.png)

[2017-12-07 15:46] charlottedeclercq commented on #40
Thanks, display is working but include::filename.adoc[] does not work anymore.

[2017-12-07 18:24] nerk commented on #40
@charlottedeclercq Include:: works for me. Could you post some AsciiDoc to reproduce the problem?

[2017-12-07 18:28] nerk commented on #40
@charlottedeclercq  Which version of Brackets are you using? Mine is 1.10

[2017-12-08 13:17] charlottedeclercq commented on #40
I installed version 1.11 right now, I was using 1.8.
I still can not see the content called by include :

![image](https://user-images.githubusercontent.com/23074561/33767580-727e4b36-dc22-11e7-80c2-9f5960659aa8.png)

[2017-12-08 13:27] charlottedeclercq commented on #40
Ok I found the problem, installing the new version changed teh safe mode to Secure. I put it back to Server and it is working fine again.

![image](https://user-images.githubusercontent.com/23074561/33767857-f2fcd344-dc23-11e7-928c-fffbeca243a1.png)

[2017-12-10 06:40] mojavelinux commented on #40
:+1:

[2018-12-09 21:48] Mogztter commented on #40
Asciidoctor.js 1.5.9 is out! https://github.com/asciidoctor/asciidoctor.js/releases/tag/v1.5.9
@nerk If you are still working on this project I can help you with the update 😉

[2018-12-09 22:38] nerk commented on #40
@Mogztter Great news, thanks. I'm definitely planning to do an update, hopefully during the next days. I've been too busy with a lot of other stuff, unfortunately. I'll let you know in case I need help.

[2018-12-14 21:32] Mogztter commented on #40
Awesome, thanks for the upgrade @nerk!

[2018-12-14 21:41] Mogztter opened #41 "Merge effort with the PlantUML extension"
I can see that you are using an extension to render PlantUML diagrams. I think it would be great to merge our efforts in https://github.com/eshepelyuk/asciidoctor-plantuml.js

The main advantage is that the extension can be reused in many editor. For instance I'm using the PlantUML extension in the browser extension.

You could for instance contribute the missing "substitution feature" https://git

[2018-12-15 00:10] mojavelinux commented on #41
Keep in mind there's also the initiative to add a web-based API in asciidoctor-diagram, which would open up all of it's capabilities to Asciidoctor.js. See https://github.com/asciidoctor/asciidoctor-diagram/issues/183.

[2018-12-15 10:50] nerk commented on #41
@Mogztter I was already looking at that code to figure out if I could use it. It also tought me that there is an API to declare positional attributes. 👍

PlantUML is being invoked from within a JavaScript worker by the Brackets extension. I might be wrong, but I think asciidoctor-plantuml.js will have currently problems with that. For example, modules and require() won't work.  That prevented me t

[2018-12-15 11:08] Mogztter commented on #41
@nerk The extension also produce a "browserified" version so it can be used in a browser environment. I'm not familiar with the brackets JavaScript environment but you should try the browser version. If it's not working we can adapt the code (much like Asciidoctor.js) to make it work in a bracket environment 😉

[2019-12-11 21:36] siddjain opened #42 "How to display blockdiag in asciidoc preview?"
Hello

I have a blockdiagram (http://blockdiag.com/en/blockdiag/examples.html#simple-diagram) in my asciidoc. Example

blockdiag {
   A -> B -> C -> D;
   A -> E -> F -> G;
}

But this does not render in the asciidoc preview. How can I make it render in asciidoc preview? As I have lot of diagrams, I would like them to see in the preview before converting to PDF. I am able to see the diagram in PDF

[2019-12-11 21:42] siddjain commented on #42
[code]

[2019-12-18 17:56] nerk commented on #42
@siddjain Unortunately, blockdiag is currently not supported in the preview. I'll look into it when I get some spare time. In the meantime, you could use something like http://interactive.blockdiag.com/ and some copy/paste.

[2020-12-18 17:10] siddjain opened #43 "Feature Request: Add ability to convert to PDF"
This is a good plugin. I love it. It would be good if it could support exporting to PDF. For how to do it, you could borrow from the asciidoc plugin for VS Code which uses [wkhtmltopdf](https://wkhtmltopdf.org/) to do the conversion or use the [asciidoctor-web-pdf](https://github.com/Mogztter/asciidoctor-web-pdf) converter that is being developed. Thanks for consideration.

[2020-12-18 17:27] siddjain opened #44 "Export to Browser does not work"
I am using 2.1.0 of this plugin on a Mac. First, it seems the README on github is broken and does not render the icons. Because of that I am not sure which is the export icon. I am assuming it is this one:

<img width="42" alt="Screen Shot 2020-12-18 at 9 25 15 AM" src="https://user-images.githubusercontent.com/758321/102642813-18220980-4113-11eb-867f-ac4966bd268a.png">

If I click on it I see a p

[2020-12-22 17:13] nerk commented on #44
Icons not being rendered in the README could be related to your browser plugins or some other settings. It renders just fine over here in Chrome , Firefox, and Edge. There is nothing special with this, they are just plain PNG files.

On a Mac, this could possibly related to https://github.com/adobe/brackets/issues/15284

Could you try to install a "Open in Browser" extension and see if that works?

[2020-12-22 17:18] nerk commented on #43
Thanks. I am currently not implementing new features for this plugin. However, I might consider this once I get some spare time.